body {
  font-size: 16px;
}

.btn:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11);
  background-color: blue;
  color: white;
}

.btn.btn-back {
  margin: 10px 0;
}

.btn.btn-with-icon {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
}

.country-details {
  width: 100%;
  padding: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11);
}

@media (min-width: 64em) {
  .country-details {
    display: flex;
    align-items: flex-start;
  }
}

.country-details.no-flex {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 64em) {
  .country-flag,
  .country-info {
    flex: 1 0 calc(50% - 30px);
  }
}

.country-flag {
  flex-shrink: 0;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  margin-right: 70px;
  border-radius: 6px;
}

@media (max-width: 39.9375em) {
  .country-flag {
    margin-right: 0;
    width: 100%;
    margin: auto;
  }
}

.country-flag img {
  display: block;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.country-info {
  padding: 20px;
}

.country-info h1 {
  color: #111517;
  margin-bottom: 30px;
}

.country-info strong {
  text-transform: capitalize;
  color: #111517;
}

.country-info strong.warning {
  color: #d21034 !important;
}

.country-info li {
  text-transform: capitalize;
  color: #2b3945;
}

.country-info li button {
  font-size: inherit;
}

@media (min-width: 40em) {
  .country-info > .col-2 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
}

.country-info > .col-2 .col-2 {
  margin: 10px 0;
}

@media (min-width: 40em) {
  .country-info > .col-2 .col-2 {
    margin: 0;
  }
}

.country-info > .col-2 li {
  margin-bottom: 15px;
}

.country-info > .col-3 {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

@media (min-width: 40em) {
  .country-info > .col-3 {
    margin-top: 35px;
  }
}

.country-info > .col-3 ul {
  display: inherit;
  align-items: inherit;
  gap: 8px;
  flex-wrap: wrap;
}
